bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.QuotesBot/.idea/vcs.xml
.idea/.idea.QuotesBot/.idea/indexLayout.xml
.idea/.idea.QuotesBot/.idea/encodings.xml
.idea/.idea.QuotesBot/.idea/discord.xml
.idea/.idea.QuotesBot/.idea/.name
.gitignore
.idea/.idea.QuotesBot/.idea/.gitignore
*.snk
*.xml
*.xsd